body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.jumbotron {
    text-align: center;
    background-color: black;
    color:white;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding: 0;
}

.card-title {
    font-size: 25px;
}

#fiveday .card-title {
    font-size: 15px;
    padding-top: 0;
}

#fiveday .card {
    background-color: rgb(1, 90, 255);
    color: white;
}

#fiveday .card-text {
    font-size: 10px;
}